body{
  margin:0;
}

.header-wrapper {
  background: rgb(71, 71, 71);
  /* border-radius: 10px; */
  padding: 10px;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  position:relative;
}

.singapore-flag {
  margin-left: 10px;
  width: 30px;
  height: auto;
}

.sg-map-title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-size: 20px;
  color: white;
}

.search-bar {
  margin-left: 20px;
  padding: 5px;
  border-radius: 5px;
  border-width: 0px;
  font-size: 20px;
}

/* TODO: add spacing between ::before and button */
/* .route-planner-button::before {
  content: '';
  border-left: 1px solid #fff;
  opacity: .5;
} */

.route-planner-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
  color: white;
}

.bus-explorer-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
  color: white;
}

.locked-icon {
  margin-left: auto;
  width: 20px;
  height: auto;
}

.login-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  /* margin-left: 5px; */
  margin-right: 20px;
}

#map {
  height:92.3vh;
  width: 100vw;
  position:relative;
  z-index:0;
}

#userInput
{
  position:absolute;
  z-index:2;
  left:110px;
}

#srcInput{
  height:30px;
  width:200px;
  border-radius:10px;
  background-color: white;
  font-weight: bold;
  color: black;
}

#srcInput::placeholder
{
  color:black;
}

#dstInput{
  height:30px;
  width:200px;
  border-radius:10px;
  background-color: white;
  font-weight: bold;
  color: black;
}

#dstInput::placeholder
{
  color:black;
}

#calBtn
{
	width:50px;
	height:25px;
  border-radius:10px;
  background-color: white;
  font-weight: bold;
	display: inline;
}

#calBtn:hover{
	cursor: pointer;
	background-color: rgba(211, 211, 211, 0.827);
}

#calBtn:active{
	background-color: rgba(211, 211, 211, 0.744);
}

#autocomplete{
	display:none;
}

.li-autocomplete{
	background-color: white;
	list-style-type: none;
	border:2px black;
	width:500px;
	font-weight:bold;
}

.li-autocomplete:hover{
	background-color:rgba(102, 101, 101, 0.848);
	cursor: pointer;
}

.li-autocomplete:active{
	background-color:rgba(102, 101, 101, 0.651);
}